* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ff004f;
  --primary-bg:#121212;
  --secondary-bg: #302f2f;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}
#home,#about,#projects,#skills,#contact,#education,#experience {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 1rem;
}
a {
  text-decoration: none;
}